Oauth permission dialog skipped when logging in from /oauth/authorize

### Steps to reproduce the problem

I'm trying to connect Buffer to our main mastodon id on our instance.  The URL to which buffer directs the browser looks like:

https://h-net.social/oauth/authorize?client_id=<big ugly hash>&scope=read+write&redirect_uri=<url here>&response_type=code&force_login=true 

I land at the login form on our instance.  I log in.  I land at the home page of our instance.  I'm never asked to do the oauth "approve this client" dance.  I never get redirected back to buffer.

### Expected behaviour

oauth app permission dialog, return to Buffer

### Actual behaviour

home screen

### Detailed description

I can't find obvious errors in logs.  I have a  .har file of one go-round like this, if it's useful.

### Mastodon instance

h-net.social

### Mastodon version

4.1.6

### Technical details

If this is happening on your own Mastodon server, please fill out those:
- Ruby version: (from `ruby --version`, eg. v3.1.2)

ruby 3.0.6p216 (2023-03-30 revision 23a532679b) [x86_64-solaris2.11]

- Node.js version: (from `node --version`, eg. v18.16.0)

v16.20.1

- Chromium version:

112.0.5615.49 (Build oficial) (64 bits)

I can reproduce a similar issue. Trying to find the exact cause.

I don't see the mentioned error message, but I did find those URIs in the database.  The redirect uri from the initial GET is `https%3A%2F%2Faccount.buffer.com%2Fchannels%2Fconnect%3FconnectingMastodon%3Dtrue%26server%3Dh-net.social%26followBuffer%3Dfalse`

I do see the same result if I try with pinafore.

Since the back end (port 3000) isn't encrypted, I can trivially capture traffic for a session.  Examining that, I see that the full query string gets to the ruby web process.  The redirect generated in response doesn't include a query string, just the bare sign-in url (https://h-net.social/auth/sign_in).  Is this an error, or is the oauth "intent" preserved in the session somewhere?

The other thing I see is that Mastodon sends a Set-Cookie header with the 302, but apparently the browser doesn't honor it.  Mastodon again tries to set a cookie when the sign-in page is fetched and that time, when the form is submitted, the request does include it.

FWIW, there appear to be longstanding problems with cookie setting on 302 responses in Chromium.  E.g.:

https://bugs.chromium.org/p/chromium/issues/detail?id=696204

Comments (sorry, stackoverflow) suggest that a Refresh works around the problem:

https://stackoverflow.com/questions/4694089/sending-browser-cookies-during-a-302-redirect

Bump.

So for OAuth 2.0 and OIDC, it's *really* important to have consistent redirect URIs & not to pass or encode state in that redirect URI. If you want to pass through some state, use the state parameter.

This is likely a bug on Buffer's end.

Then pinafore must have a similar bug?

I get a permissions prompt dialog for Pinafore.

<img width="569" alt="Screenshot 2024-01-23 at 02 04 01" src="https://github.com/mastodon/mastodon/assets/30827/74f53e08-7dba-415e-86a9-fe15712dbaf9">


As I previously reported, I had the same problem with Pinafore as with Buffer.  I could see the browser not providing the cookie after the server set it.  The combination makes me think there's more going on here.

@ClearlyClaire I just managed to reproduce this but the steps were a little different. Essentially logged into pinafore, everything's okay, opened another tab on my instance and was redirected to the oauth authorize URL.

it seems that maybe the `stored_location_for(:user)` may not be being correctly clear on successful login & redirect to the oauth flow from `on_success_callback` so the next time you hit login, you get something from the previous signin attempt 

Another confirmed way to reproduce this:
1. Logout
2. Start an OAuth 2.0 sign-in attempt
3. Land on the login page
4. Enter user & password
5. Submit
6. Enter 2FA
7. Submit
8. Be redirected to the authorize page
9. Open a new tab to `/auth/sign_in`
10. Observe you are now at the authorize page

it should not matter whether or not the authorize flow has completed successfully, you should only be taken there once after sign-in.

I suspect what's happening on the "second attempt" is that because the authorization has already happened you land in one of the many blackholes of OAuth 2.0 and OIDC, as the authorization attempt is no longer valid or something similar.

Can also confirm that once going through the login & authorize flow once, any further visit to `/auth/sign_in` redirects me to the oauth app, effectively completing the OAuth flow more than once.

It seems that under some conditions `stored_location_for` in Devise won't actually delete the value from the session storage: https://github.com/heartcombo/devise/blob/main/lib/devise/controllers/store_location.rb#L18

This also fails in the same way when trying to connect Postpone.app to Mastodon.  I see at least two other sites have reported similar problems.  Please could this get looked at?

> This also fails in the same way when trying to connect Postpone.app to Mastodon.  I see at least two other sites have reported similar problems.  Please could this get looked at?



Bump

@drboone there's a few different issues in here. One is OAuth in Mastodon not supporting multiple redirect URIs, I have a WIP change for that here: #29192

Then there's the issue that under certain circumstances, the state from the flow persisting even though you've completed it, that's likely a much harder bug to fix.

Thanks for the update?

> This also fails in the same way when trying to connect Postpone.app to Mastodon. I see at least two other sites have reported similar problems. Please could this get looked at?

I've just tried with Postpone.app, and was able to successfully connect a single account; **however** if I try to connect a second account, I cannot, because Postpone.app isn't correctly setting `force_login=true` which allows for selecting multiple accounts on the same server.

<img width="790" alt="Screenshot 2024-04-02 at 20 50 07" src="https://github.com/mastodon/mastodon/assets/30827/bf7b919a-b019-4386-8dbe-9415dfd32660">

The Authorization URL for Postpone.app looks like: `/oauth/authorize?client_id=[REDACTED]&redirect_uri=https://api.postpone.app/complete/mastodon/&state=[REDACTED]&response_type=code&scope=read+write`. For their "add another account" flow, they'd need to add the `force_login=true` argument to require a new authorization, instead of re-using the existing authorization.

> The other thing I see is that Mastodon sends a Set-Cookie header with the 302, but apparently the browser doesn't honor it. Mastodon again tries to set a cookie when the sign-in page is fetched and that time, when the form is submitted, the request does include it.
> 
> FWIW, there appear to be longstanding problems with cookie setting on 302 responses in Chromium. E.g.:
> 
> https://bugs.chromium.org/p/chromium/issues/detail?id=696204

For Buffer, it appears on initial connection they use one redirect URI, and on refresh of that connection in buffer, they use a different redirect_uri.

They are currently relying on technically unsupported / undocumented behavior in Mastodon where when registering their application via `/api/v1/apps` they are passing a `redirect_uris` string containing `\n` characters, which results in multiple redirect URIs being present for the one OAuth Application (see #29192 for a proper implementation). (yes, Doorkeeper really stores multiple `redirect_uri`s as `\n` delimited values in the database)

So they can technically use multiple redirect URIs as noted in https://github.com/mastodon/mastodon/issues/26535#issuecomment-1683883666, however, it must be one of the following which are the registered redirect_uris for their application:
- `https://account.buffer.com/channels/connect`
- `https://account.buffer.com/onboarding/publishing`
- `https://account.buffer.com/oauth/mastodon/callback`

If there is a redirect URI that they are using that is *not* in the above list, then the oauth flow will correctly fail with "invalid redirect_uri". They are also using `force_login=true` which should always give the consent prompt.

They will be unable to assert these redirect URIs though, since `/api/v1/apps/verify_credentials` and [Application entity](https://docs.joinmastodon.org/entities/Application/) only support a single redirect_uri, iirc.

The comments by @drboone in:
- https://github.com/mastodon/mastodon/issues/26535#issuecomment-1684289825
- https://github.com/mastodon/mastodon/issues/26535#issuecomment-1684318880
- https://github.com/mastodon/mastodon/issues/26535#issuecomment-1697620661

Are off-topic / irrelevant — Mastodon's cookies use `SameSite=lax`, so aren't affected by the `302 redirect / set-cookie` issue, as that only affects `SameSite=strict` cookies, where they will not be set/stored during a cross-site redirect.

If @drboone is building an application, and trying to set a cookie when doing the redirect to `<server>/oauth/authorize` and that cookie is using `SameSite=strict` then that cookie for **their** application will not be set/stored by the browser. If they change that cookie to `SameSite=lax` it **will** be set correctly.

> I don't see the mentioned error message, but I did find those URIs in the database. The redirect uri from the initial GET is `https%3A%2F%2Faccount.buffer.com%2Fchannels%2Fconnect%3FconnectingMastodon%3Dtrue%26server%3Dh-net.social%26followBuffer%3Dfalse`

@ClearlyClaire we may have a separate bug here in that redirect_uri's should be strictly compared using string comparison, so Buffer would actually be running afoul here, and should be getting errors on mismatching `redirect_uris`:

> If the client registration included the full redirection URI, the authorization server MUST compare the two URIs using simple string comparison as defined in [[RFC3986] Section 6.2.1](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.1).

That is, they registered:

```
https://account.buffer.com/channels/connect
```

But are using

```
https://account.buffer.com/channels/connect?connectingMastodon=true&server=mastodon.dev.iftas.org&followBuffer=true
```

These two URIs are not the same, since the latter contains query parameters not present in the registered URI. This should be a failure during the OAuth flow, per specification. 

Why this currently works? Seems to be due to Doorkeeper [messing with the URIs](https://github.com/doorkeeper-gem/doorkeeper/blob/v.5.6.9/lib/doorkeeper/oauth/helpers/uri_checker.rb#L18) and not doing a simple string comparison of them. This results in the Application's `redirect_uri` and the requested `redirect_uri` not being compared correctly. This is non-spec behaviour in Doorkeeper. I've noted this behavior is off-spec here: https://github.com/doorkeeper-gem/doorkeeper/issues/1050#issuecomment-2032981643

Hey @ThisIsMissEm!

This is Carlos, a Software Engineer from the Buffer team.

Thanks for sharing the issues with the `redirect_uris`. The team is currently working on improving our Authorization flows, and we have taken note of this issue. Our plan is to only use one `redirect_uri` without query params.

We will keep you informed once it is out in production.

Hey @ThisIsMissEm,

Just wanted to let you know that the redirect_uri issue should be fixed by now.

Please let me know if you experience any other issues.

Cheers,
Carlos.

@cmunozgar oh neat! But coincidentally, Mastodon 4.3 is planned to have multiple redirect URIs supported fully, see #29192 — I was able to put in the hours to properly implement it thanks to my [supporters](https://support.thisismissem.social)

@ThisIsMissEm asked me to record an example of the following behaviour to help support this issue. 

Using a browser session that was previously used to sign in to FediCheck (FediCheck uses the Mastodon auth loop) I happened to be reviewing joinmastodon.org - and clicking through to create an account on the server that was used to sign in to FediCheck redirected me to the FediCheck application instead. 

Clicking any other server signup link brought me to that server's signup process as expected.

Using an incognito mode browser session brought me to the relevant server sign up page as expected.

https://github.com/mastodon/mastodon/assets/141073565/1ea06dbb-dbed-4859-b773-0c626d9ee559



I think this is a redirect bug, it would be good to have network log traces, but I'm not sure I can capture these now. I think this is just a case of some sort of state not getting correctly cleared.