.well-known/host-meta.json is responded with XRD

### Steps to reproduce the problem

```
xtex@xtex ~> curl https://mastodon.social/.well-known/host-meta.json
<?xml version="1.0" encoding="UTF-8"?>
<XRD xmlns="http://docs.oasis-open.org/ns/xri/xrd-1.0">
  <Link rel="lrdd" template="https://mastodon.social/.well-known/webfinger?resource={uri}"/>
</XRD>
```

### Expected behaviour

A JRD document with Content-Type `application/json`

### Actual behaviour

A XRD document with Content-Type `application/xrd+xml`

### Detailed description

ref: <https://datatracker.ietf.org/doc/html/rfc6415#appendix-A>

### Mastodon instance

_No response_

### Mastodon version

_No response_

### Technical details

_No response_

A quick heads-up on this Issue, [RFC 6415 section 6.3](https://datatracker.ietf.org/doc/html/rfc6415#section-6.3) reads:

> If the server does not support serving a JRD representation at this location, the server MUST respond with an HTTP 404 (Not Found) status code.

Serving the XML response here is a breach of the RFC.

Adding `format: false` to the route line should already do the trick.