Mastodon does not implement rel parameter for WebFinger

<!-- Please use a concise and distinct title for the issue -->

<!-- Consider: Could it be implemented as a 3rd party app using the REST API instead? -->

### Pitch

[RFC 2033 section 4.3](https://tools.ietf.org/html/rfc7033#section-4.3) specifies that you can use a `rel` parameter to only return one link.

However, e.g. https://mastodon.social/.well-known/webfinger?resource=acct:rugk_testing@mastodon.social&rel=self does still return all the `link` items.
So I guess Mastodon just ignores that and does not implement it.

**Edit:** Yes, I know, Mastodon is spec-complaint. 

### Motivation

It's likely good to implement standards properly. I think I don't have to explain that.