Notification emails should contain an Auto-Submitted header

### Pitch

The email address used for sending out notification email, such as "Your account has been accessed from a new IP address" will often recieve "out of office" type auto responses.

The standard way for supressing automated responses to automated emails is to include the following header:

```
Auto-Submitted: auto-generated
```

(See RFC 3834 for reference)

* [RFC 3834 section 5](https://www.rfc-editor.org/rfc/rfc3834#section-5)
* [RFC 5230 section 4.6](https://www.rfc-editor.org/rfc/rfc5230#section-4.6)
* [Auto-Submitted Header Field Keywords](https://www.iana.org/assignments/auto-submitted-keywords/auto-submitted-keywords.xhtml)


### Motivation

This would prevent some mails being needlessly sent to admin addresses.

Fixed in #23597.