Personally I started to follow this issue because I'd like to open my instance to new users.

My Mastodon instance uses a subdomain that I created as a temporary handle, in 2017, that doesn't use a domain name I'd like to give to others.

I don't want to break my own account and transfer to another domain name completely, I just want to be able to add a new domain name to the server that could be used by new users. A bit like an email provider can allow users to register using different domain names.

I feel like this current issue is not what I am looking for. There are different needs between a user that wants to use their own domain name on a third party Mastodon instance and a Mastodon instance administrator that wants to manage multiple domains.

(Also I'm against the idea of allowing multiple users of the same domain name to use different Mastodon instances. And I understand there would be issues to move a domain name between instances.)

> I don't want to break my own account and transfer to another domain name completely, I just want to be able to add a new domain name to the server that could be used by new users. A bit like an email provider can allow users to register using different domain names.

That's made possible using MX records, which separate identity (the email domain) and location (the IP addresses of the SMTP servers). SVCB records would do the same for Mastodon.

No need to wait for SVCB (only a draft, then it needs to be supported by DNS servers, this will take quite some time). Mastodon can make use of SRV records instead (which are a generalization of the MX records).

> No need to wait for SVCB (only a draft, then it needs to be supported by DNS servers, this will take quite some time). Mastodon can make use of SRV records instead (which are a generalization of the MX records).

They're an Internet Draft, yes, but they already have widespread deployment and finalization is imminent. Besides, DNS servers **don't** need to support every record they handle.

The HTTPS record type is designed to be extended by protocols that use HTTP: I would **strongly** encourage drafting a specification that does so.

```DNS
_mastodon.example.com.		300	IN	HTTPS	1 actual-mastodon-instance.example alpn="h3,h2"
```

That example could indicate that the Mastodon instance of `example.com` is located at `actual-mastodon-instance.example`, which accepts HTTP/3, HTTP/2, and HTTP/1.1. When Encrypted Client Hello is finalized, Mastodon records could adopt it as well.

Many DNS servers don't accept arbitrary records, notably the ones from cloud providers. Mastodon should at least support a fallback method in this case (SRV or well-known location).

> Many DNS servers don't accept arbitrary records, notably the ones from cloud providers. Mastodon should at least support a fallback method in this case (SRV or well-known location).

Those DNS nameservers will have to support HTTPS records if they intend to allow HTTP/3: Alt-Svc headers are being deprecated in favor of HTTPS records, which will make them mandatory for that protocol.

If a DNS nameserver insists on imposing arbitrary restrictions on DNS zones, people should stop using them. Heck, self-host the nameserver! DNS is designed with massive amounts of caching for a reason. DigitalOcean is a notable offender, but at the same time they literally have [a guide for running your own BIND server on their infrastructure](https://www.digitalocean.com/community/tutorials/how-to-configure-bind-as-a-private-network-dns-server-on-ubuntu-14-04).

It's mostly not a problem of DNS servers but rather those web cpanel hosting users get in their bundle. And there is a lot of them, and service providers aren quick to update them.

It is an extremely bad idea to cater to the lowest common denominator.

Imagine you're a content creator who has their blog and shopify on one domain, and now Mastodon requires you to potentially disrupt that setup just to be able to _add_ it as a potential revenue stream. Are you going to ask those people to self-host their DNS servers or move hosting providers?

Mastodon doesn't have to be SVCB-reliant. In fact, given the number of implementations that already exist, it couldn't be for a fairly long time. If someone can't use SVCB records, they can just use the fallback SVCB-optional behavior. That is, after all, the _only_ behavior that actually exists right now.

To add a usage case, and point of view.. I've just set up an instance for personal (family and friends) use. This is likely to be fairly lightly used (as in, in the short term, it'll be just me!)  I'd also like to set up an instance for a particular interest group I'm a member of. This might attract a dozen or so users. These would not naturally want to share the same domain name, nor would I want them to. Given the overhead per instance, it would make sense in my eyes for them to be able to share one server, much as I load up one webserver with several small sites. 

The instance should honestly just accept a list of domains it should respond to, blocking input from others that do not match; Things like CORS make the need for this list explicit and managed on the server side, anyway.

And then you have email outbound; Email outbound about account messaging for every domain used, so are you using a central email account for all the TLD's of that deployment, or a specific one fir each of the supported domains?  What about DKIM? Is the goal to using be using SPF text records and abandoning DKIM security?

Since it got brought up. I would still love to see something like this happen. Either users utilizing their own domains or instances truly supporting multiple domains on the front end as described in #8921

You can locally implement WebFinger on your own domain (here I have a proper recipe for Apache: https://blog.bofh.it/debian/id_464), but while this allows other to look up that identity it does not change how you are known to the Fediverse.

Also, there is software around which takes shortcuts and does not properly implement the WebFinger specification (e.g. https://github.com/lucahammer/fedifinder/issues/166 https://github.com/lucahammer/fedifinder/issues/171).

> Mastodon uses WebFinger to look up user@domain's actor URL. Can't the user set up their WebFinger server to return the Mastodon's URL and thus retain control of their identity? This would do away with any changes to be made in DNS.

That allows you to have an alias, but Mastodon needs a canonical identity, and that one is figured out by looping back with a webfinger request to the domain hosting the ActivityPub actor itself. If we used the first known alias as the actual handle, anybody could poison the database by making arbitrary aliases to your account.

Now, Mastodon *could* redirect back to the external domain, but that requires knowledge that that specific account is using another domain, and it's not something Mastodon is currently built for.

And that is for the multi-tenancy part itself, not for moving a Webfinger handle to another Mastodon/ActivityPub server. That is another issue: technically, as far as ActivityPub itself is concerned, Webfinger has no relevance, and the identity *is* the actor id, which in practice is its URL. So while Mastodon may consider the Webfinger handle as the primary identifier… that's not what the spec says, and other projects may do otherwise.

> This does assume that the entire fediverse follows the same lookup pattern. Servers which don't do the same lookup will cache the actor URL and ping the old server, even though user's WebFinger response has started pointing elsewhere.

Yes. A bunch of implementations actually don't use Webfinger in the same way as Mastodon does, with it being only a one-directional discovery thing.

> As an aside, I actually think WebFinger should be made easier for static hosting

@nileshtrivedi You can achieve this now, by serving `/.well-known/host-meta.xml` with something like this:

```xml
<?xml version="1.0" encoding="UTF-8"?>
<XRD xmlns="http://docs.oasis-open.org/ns/xri/xrd-1.0">
  <Link rel="lrdd" template="https://example.com/.well-known/webfinger/{uri}.json"/>
</XRD>
```

and hosting `/.well-known/webfinger/acct:name@example.com.json`. But a lot of fediverse clients don't check `/.well-known/host-meta.xml` before doing the WebFinger request :/

@zemlanin Whoa! That's 🤯 

Is this part of the WebFinger spec? Does Mastodon support this?

It sounds like the main problem with WebFinger is the lack of a TTL. At any rate, WebFinger complaints should be directed to the W3C, and are out-of-scope for Mastodon.

In other words, if you want to fix a WebFinger-related Mastodon problem, you should be talking to them first. It'll also help all the other things using WebFinger.

> @zemlanin Whoa! That's 🤯
> 
> Is this part of the WebFinger spec? Does Mastodon support this?

Host-Meta is it’s own spec that was constructed to enable eg WebFinger: https://www.rfc-editor.org/rfc/rfc6415.html

Then WebFinger was kind of “hijacked” and “simplified” to no longer rely on LRDD / JRD and ended up with the current spec that does not work well with static sites.

So: No, it’s not part of the current WebFinger spec, but it was part of the original WebFinger proposal by Blaine Cook.

But Mastodon _does_ support it https://docs.joinmastodon.org/dev/routes/#host-meta

> Then WebFinger was kind of “hijacked” and “simplified” to no longer rely on LRDD / JRD and ended up with the current spec that does not work well with static sites.

I'm a firm believer in following specifications. If you aren't following the specification, call it something besides WebFinger. And don't rely on others following suit.

Wait, there **is** a system for changing providers:

> A WebFinger resource can include cache validators in a response to
> enable conditional requests by the client and/or expiration times as
> per [Section 13 of RFC 2616](https://www.rfc-editor.org/rfc/rfc2616#section-13).

Putting aside the obsoleted spec it references, WebFinger clients have to respect HTTP's `Cache-Control` parameters. Looking something up once and never again isn't really compliant.

>WebFinger clients have to respect HTTP's Cache-Control parameters.

What makes you say that? They _should_, but does any spec or standard mandate that?

> > WebFinger clients have to respect HTTP's Cache-Control parameters.
> 
> What makes you say that? They _should_, but does any spec or standard mandate that?

Yes, [RFC 9111](https://www.rfc-editor.org/rfc/rfc9111). Since WebFinger is using HTTP, and explicitly references HTTP cache mechanisms, they are in force. As such, a WebFinger response can't be reused except as allowed by `Cache-Control`.

This doesn't stop applications from allowing a WebFinger request to only be made once, to be clear: it merely stops them from assuming a response is still authoritative for an origin outside those rules. If a spec says something is resolved using a WebFinger request, that means each resolution is a distinct WebFinger request, and therefore has to use those caching rules. If it says something is resolved using a database with initial entries populated by a WebFinger request, that means only the first resolution is a WebFinger request, and caching does not necessarily apply.

In Mastodon's case, a lookup is [defined](https://docs.joinmastodon.org/spec/webfinger/#intro) as being a WebFinger request, which means it should be following caching rules for each lookup.

Note that the lack of a `Cache-Control` header on certain HTTP status codes means the client can basically cache [at their discretion](https://www.rfc-editor.org/rfc/rfc9111#section-4.2.2).

Dnia 8 grudnia 2022 10:36:07 UTC, Nilesh ***@***.***> napisał/a:
>@rfc1036 Interesting.
>
>I actually think WebFinger should be made easier for static hosting. 

It's easy with two lines added to .htaccess https://gist.github.com/aaronpk/5846789

-- 
Łukasz Stelmach z podróży


> Dnia 8 grudnia 2022 10:36:07 UTC, Nilesh ***@***.***> napisał/a:
> @rfc1036 Interesting. I actually think WebFinger should be made easier for static hosting.
> It's easy with two lines added to .htaccess https://gist.github.com/aaronpk/5846789
> […](#)
> -- Łukasz Stelmach z podróży

Static hosting environments come in a huge variety now a days. For eg: how do I apply your suggestion if my static site is on GitHub Pages? Cloudflare Pages? Netlify? Vercel? Firebase? Hacks for one webserver are not a replacement for a flawed protocol spec.

I've been slowly building out this Open Source guide generator for using your own domain - both static sites and other tooling :) 

https://guide.toot.as/guide/use-your-own-domain/

Just regarding the discussion of caching (which I know is continuing to veer a bit of topic), the webfinger document itself includes an expiration field, though it doesn't seem mastodon uses it.  From the [example in RFC 6415](https://www.rfc-editor.org/rfc/rfc6415.html#appendix-A):

``` json
{
      "subject":"http://blog.example.com/article/id/314",
      "expires":"2010-01-30T09:30:00Z",

      "...": "..."
}
```

Just a doubt, is this feature in roadmap?

I am also curious on whether this will see any movement given Bluesky's custom domain handle functionality and the apparent demand for a feature like this. I've gotten complaints for years about how folks are concerned about my unchangeable domain name "yiff.life" and while I still think it's funny, it would be very cool to allow people to actually use our alternate aliased SFW domains for their handles, even if it is still just masking yiff.life. 

But now the idea may be a bit different with the advent of what Bluesky implemented. I still prefer the original multi-tenant idea.

as tempting as it is, I don't think it's a good idea to compare Mastodon to Bluesky or Discord

those are user problems, not server problems

I totally get that we need three or more accounts per person and people want fancy URLs.
but it's a lot more important to separate those from each other... not everybody is cool enough to post pony porn or luigi memes with the same account that they use to apply for a job.

some people want their private life to remain private. If you run the server, you will be responsible for this. do you want this responsibility? not for you, for your users. 

maybe it's time to think about single user Mastodon instances with multiple domain names and multiple identities? 
then the isolation is no longer a problem. because it is the same user and the same database on the same machine but it only has to look different to the outside world. 

I'm not a developer but these are the things that prevent me from using Mastodon. I don't want to run three instances for one person with multiple identities. 

I also don't want to become a member on somebody else's server.

we are all spoiled by Discord and Bluesky.

> maybe it's time to think about single user Mastodon instances with multiple domain names and multiple identities? then the isolation is no longer a problem. because it is the same user and the same database on the same machine but it only has to look different to the outside world.
> 
> I'm not a developer but these are the things that prevent me from using Mastodon. I don't want to run three instances for one person with multiple identities.
> 
> I also don't want to become a member on somebody else's server.
> 
> we are all spoiled by Discord and Bluesky.

Perhaps you are looking for [Hollo](https://docs.hollo.social/) than Mastodon in that case.

> as tempting as it is, I don't think it's a good idea to compare Mastodon to Bluesky or Discord

I am not sure where DIscord comes into this, but Bluesky is another decentralized social media platform that is at least somewhat similar to Mastodon and ActivityPub. While I would not advocate Mastodon directly replicate what Bluesky is doing, this feature request is older than Bluesky's creation, and I absolutely think it is worth noting when another platform implements an extremely similar idea with great success. 

There are a few ways this would be beneficial to users:

- Alternate domains offered by admins 
- User domains for vanity URLs

I could also see it potentially causing confusion depending on how it is implemented. 

My inquiry is mostly just to understand whether this is still on the roadmap in some form or another, and it looks like some work was done in 2024 (https://github.com/mastodon/mastodon/pull/32724) to move away from using usernames as immutable IDs and instead use numeric generated IDs, which would be a huge step in the direction of supporting this. 

> Bluesky is another decentralized social media platform

It looks centralized to me. Most users are on the central server. This has been [called out by others](https://dustycloud.org/blog/how-decentralized-is-bluesky/) as well.

> > Bluesky is another decentralized social media platform
> 
> It looks centralized to me. Most users are on the central server. This has been [called out by others](https://dustycloud.org/blog/how-decentralized-is-bluesky/) as well.

I agree with your correction here but I do not believe that detracts from my belief that the feature would see high demand in both Bluesky's form (as a verified handle) and as originally proposed in this issue in multi-tenancy format. 

I had a quick look at how Bluesky/atproto is dealing with handles. If you add a TXT record to a `_atproto` subdomain or if you configure your HTTPS server for your domain name to answer `/.well-known/atproto-did`, you can return a *did:plc* identifier. This identifier is then queried on https://plc.directory (then comes some cryptography stuff).

With ActivityPub (actually, WebFinger), you need to configure your HTTPS server for your domain to answer `/.well-known/webfinger?resource=acct:username@yourdomain.example` (for identifying accounts, to keep it simple).

So, to summarize:
* with atproto, you rely on a centralized entity (plc.directory)
* with ActivityPub, each domain is independent from each other, there is not a centralized entity

For Mastodon to support multiple domains, it needs to handle WebFinger (and other stuff) on multiple origins. There are multiple ways to consider this.

I am one of those people who use BlueSky's custom handles and found this thread because I was looking for the same with Mastodon. 

I just want to chime in with a use-case:

The BlueSky custom handle is very convenient because it makes my domain a universal identifier that does not depend on the instance's domain. it's also very easy to set up just with verifying the domain ownership. there's no need for me to spin up my own web server or run my own instance of the platform just to use my domain as a handle. lots of people would not want to run their own for a variety of reasons, such as limited technical ability, not wanting to spend the maintenance time or effort, or monetary cost of running a web server, but a DNS record is relatively trivial to set up and does not incur any marginal cost to do.

The BlueSky custom handle is also a bit different at the front end than - say - running your own instance. Your BlueSky username is simply `example.com` whereas with your own instance it would currently be something like `myname@example.com` or `me@example.com`. the user-part is just unnecessary for many many use cases, particularly where it's a single-person personal domain.

another benefit for the way BlueSky does it is that it makes it very pretty to set my domain as my handle, and also setup a redirect from my domain to my profile. it's very elegant for anyone who doesn't care to have a separate landing page. you can go directly to `example.com` to get to my bluesky profile, whose handle is also `@example.com`. without the redirect even though my handle is `@example.com` you won't actually get to my profile if you just typed in `example.com`. this kind of symmetry becomes ugly if you have to have an additional username before the domain part.


to sum up: at the very basic level, supporting bluesky-style domain handles would be a very useful feature for people who have their own domains and want that persistent identity, but for *whatever* reason want to use an established server (which is a lot of people).

Disclaimer: I have not read the full specifications, I am only writing this after quick reading and research.

---

Mastodon and other software implement existing specifications (like WebFinger). Adding new ways to identify accounts would not be supported by other software. I think it is too late to change these choices, or it could fragment the ecosystem.

To move an account to another instance, you would need to download the secret key for your account, upload it to the new instance and then the new instance would need to rotate the key for security reasons. From my understanding, if the instance disappears or bans you, or if you loose the secret key, your existing account handle won't be usable anymore, unless existing instances forget you.

It is not as easy as changing a DNS record.

---

I think that adding the support of multiple domains for accounts in a single Mastodon instance is a first step and the main feature request discussed here. Adding the ability to move a domain to another instance could only come later.

The discussion of DID vs WebFinger, ATProto vs / and-or ActivityPub etc goes significantly outside of this issue. ActivityPub account portability is under discussion in working groups at the W3C. You'll need to explore other communities (W3C, activitypub.rocks, etc) to go deeper into those conversations as this issue isn't the right place to do so. 

There's no current/immediate plan to implement multi-tenancy with custom domains in Mastodon itself (and it is somewhat complicated by [the need to remove support for Redis namespaces in an upcoming version](https://github.com/mastodon/mastodon/discussions/34198)). We'll certainly keep the issue open as a suggestion for now. 

Just to add a use case here: I have multiple domains registered for a bilingual instance, eg toot.wales and toot.cymru, mastodon.wales and mastodon.cymru

Community members may wish to represent themselves as being more focused on Cymraeg (Welsh) than English. Being able to use member@toot.cymru instead of member@toot.wales would be of great benefit to them in how they want to represent themselves on the social web. 

Secondly, while I am personally a huge fan of "toot" as a branded moniker, I understand that some accounts may prefer a less frivolous-sounding handle for their activities. Being able to offer serious.domain and fun.domain as options would greatly improve my ability to market and advocate for the Fediverse generally. 

I am reminded of the proliferation of custom domain free email services that preceded everyone having an email account on one of five or so domains. At sign-up, I could choose from a list of domains available to me from the service. Those were fun services that allowed millions of people to express themselves with a domain that best suited them, without having to go through the cost and hassle of registering their own domain. There are fewer than 400 million domain names registered, for 5.5 billion Internet users. Not everyone has or wants their own domain.

I believe expanding and adding detail to the existing [ALTERNATE_DOMAINS](https://docs.joinmastodon.org/admin/config/#alternate_domains) functionality would be incredibly helpful for those of us who simply want to offer multiple domains (even if the login / account name is always tied to the primary domain). If I knew this to be a robust, functional, supported feature I would be offering multiple domains today. And - if it were to be detailed - I can see how this could lead to future conversations and enhancements that might allow for monetising additional custom/personal domains to help cover operating costs, as well as potentials for account portability, although I think both of those options are for a later discussion.

I leave it to more-informed commenters to ponder whether or not the user account would/should/could be discoverable by domains other than their chosen preference (I would hope not).

Another use case where this might be useful is for further customisation and idividualisation of accounts. There are different projects and sites I support where a custom handle is wanted (similar to BlueSky's offering), but only a single account per domain is required (like myproject.com).

The solution with `ALTERNATE_DOMAINS` does not seem to help in this scenario, since users would still see the xyz@myserver.tld handle.

As registries are holding domain names for political reasons, it could be interesting to explore this topic again.